.logo {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    color: #cbd5e1;
    text-decoration: none;

    padding: 10px;
    border-radius: 8px;

    font-size: 14px;

    transition: 0.2s;
}

.menu a:hover {
    background: #1e293b;
    color: #ffffff;
}

/* ACTIVO (opcional futuro con NavLink) */
.menu a.active {
    background: #2563eb;
    color: white;
}