/* =========================================
   RESET
========================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{

    width:100%;
    min-height:100%;

    font-family:
        Inter,
        system-ui,
        sans-serif;

    background:var(--bg-secondary);

    color:var(--text-main);

    overflow-x:hidden;
}

body{
    transition:background .25s ease;
}

/* =========================================
   VARIABLES
========================================= */

:root{

    --sidebar-width:270px;
    --sidebar-collapsed:88px;
}

/* =========================================
   LAYOUT
========================================= */

.layout{

    min-height:100vh;

    background:var(--bg-secondary);
}

/* =========================================
   CONTENT
========================================= */

.layout-content{

    min-height:100vh;

    margin-left:var(--sidebar-width);

    padding:28px;

    transition:
        margin-left .25s ease,
        padding .25s ease;
}

/* =========================================
   SIDEBAR COLLAPSED
========================================= */

.layout-content.expanded{

    margin-left:var(--sidebar-collapsed);
}

/* =========================================
   LAPTOP
========================================= */

@media (max-width:1400px){

    .layout-content{
        padding:24px;
    }
}

/* =========================================
   TABLET
========================================= */

@media (max-width:1024px){

    .layout-content{

        margin-left:0 !important;

        padding-top:92px;

        padding-left:18px;
        padding-right:18px;
        padding-bottom:18px;
    }
}

/* =========================================
   MOBILE
========================================= */

@media (max-width:640px){

    .layout-content{

        padding-top:88px;

        padding-left:14px;
        padding-right:14px;
        padding-bottom:14px;
    }
}